/* Navigation */
nav.page{
    background-image: url("../images/");
    padding: 0;
    justify-content: space-between;
    background-size: cover;
    opacity: 1.1;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-radius: 15px;
    border: 1px solid red;
}

nav.page>.infom{
    display: flex;
    justify-content: space-between;
}

nav.page>.infom .begIn{
    text-align: start;
    padding: 20px 20px 0px ;
    color: #4070f4;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
}


nav.page>.infom>ul{
    padding: 20px;

}

nav.page>.infom>ul>li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    font-size: medium;
    color: white;
    margin-right: 50px;
    
}


nav.page>.infom>ul>li.topOne>a{
    text-decoration: none;
    color: gold;
}

nav.page>.infom>ul>li.topOne>a:hover{
    text-decoration: underline;
    color: #4070f4;
}

nav.page>.infom>ul>li.top>a{
    text-decoration: none;
    color: gold;
}

nav.page>.infom>ul>li.top>a:hover{
    text-decoration: underline;
    color: #4070f4;
}

nav.page>.infom>ul>li.connect>button{
    border: 3px #4070f4;
    background-color:#4070f4;
    padding:  10px 20px;
    color: gold;
    border-radius:6px;
    cursor: pointer;
}

nav.page>.infom>ul>li.connect>button:hover{
    background-color: gold;
    color: #4070f4;
}

    nav.page>div.topic{
    color: grey;
    display: flex;
    justify-content: space-around; 
    max-height: 440px;
    
}

    .page>.topic .hone{
    display: inline;
    justify-content:space-around;
    padding-bottom: 50px;
}

    .page>.topic .hTwo{
    display: inline;
    justify-content:space-around;
    padding-bottom: 20px;
} 

     nav.page>div.topic>.hone .modern{
    color:#4070f4;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
} 

    nav.page>div.topic>.hTwo .dollars{
    color: #4070f4;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    
} 

    nav.page>div.topic>h2#dollars>span{
    font-size: small;
    margin-left: 30px;
} 

     nav.page>div.topic>h2.modern,p{
 color: white;
 
} 

     nav.page>div.topic>p{
 padding: 0% 0% 5% 0%; 
 color: grey;  
} 