/* Navigation */
nav.page{
    background-image: url("../images/");
    padding: 0;
    justify-content: space-between;
    background-size: cover;
    opacity: 1.1;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-radius: 15px;
    border: 1px solid red;
}

nav.page>.infom{
    display: flex;
    justify-content: space-between;
}

nav.page>.infom .begIn{
    text-align: start;
    padding: 20px 20px 0px ;
    color: #4070f4;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
}


nav.page>.infom>ul{
    padding: 20px;

}

nav.page>.infom>ul>li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    font-size: medium;
    color: white;
    margin-right: 50px;
    
}


nav.page>.infom>ul>li.topOne>a{
    text-decoration: none;
    color: gold;
}

nav.page>.infom>ul>li.topOne>a:hover{
    text-decoration: underline;
    color: #4070f4;
}

nav.page>.infom>ul>li.top>a{
    text-decoration: none;
    color: gold;
}

nav.page>.infom>ul>li.top>a:hover{
    text-decoration: underline;
    color: #4070f4;
}

nav.page>.infom>ul>li.connect>button{
    border: 3px #4070f4;
    background-color:#4070f4;
    padding:  10px 20px;
    color: gold;
    border-radius:6px;
    cursor: pointer;
}

nav.page>.infom>ul>li.connect>button:hover{
    background-color: gold;
    color: #4070f4;
}

    nav.page>div.topic{
    color: grey;
    display: flex;
    justify-content: space-around; 
    max-height: 440px;
    
}

    .page>.topic .hone{
    display: inline;
    justify-content:space-around;
    padding-bottom: 50px;
}

    .page>.topic .hTwo{
    display: inline;
    justify-content:space-around;
    padding-bottom: 20px;
} 

     nav.page>div.topic>.hone .modern{
    color:#4070f4;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
} 

    nav.page>div.topic>.hTwo .dollars{
    color: #4070f4;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    
} 

    nav.page>div.topic>h2#dollars>span{
    font-size: small;
    margin-left: 30px;
} 

     nav.page>div.topic>h2.modern,p{
 color: white;
 
} 

     nav.page>div.topic>p{
 padding: 0% 0% 5% 0%; 
 color: grey;  
} 

/* Front Section */

section.body{
    justify-content: space-between;
    max-width: 100%;
    border-radius: 15px;
}

section.body>img{
    height: 500px;
    margin-top: 30px;
    margin-left: 20px;
    max-width: 100%;
    box-shadow: 5px 5px 5px #4070f4;
    border-radius: 15px 0px 15px 0px;

}

section.body>div.sect1{
    float: right;
    margin-top:70px;
    margin-right: 15%;
    font-size: 40px;
    
}

section.body>div.sect1>hr{
    margin-right: 70%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: grey;
    
}

section.body>div.sect1>h2.head{
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 0px 0px 0px;
    font-style: italic;
    font-weight: 100;
}

section.body>div.sect1>p.sect2{
    font-size: large;
    font-style: unset;
    color: gray;
    font-size: 25px;
}
section.body>div.sect1>button#sect3{
    padding: 10px;
    border-left: 15px;
    background-color:black;
    color: gold;
    border-radius: 0px 15px 0px 15px;
    font-size: 20px;
    cursor: pointer;
}

section.body>div.sect1>button#sect3:hover{
    background-color: #4070f4;
    box-shadow: 5px 2px 5px #4070f4;
    border: 2px solid #4070f4;
    color: gold;
    
}